body {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    display: block;
    margin-top: 10%;
}

button {
    cursor: pointer;
}

.content {
    margin: auto;
    max-width: 900px;
}

.tab-btn {
    width: 33%;
    background-color: #7ce98a;
    padding: 25px 10px;
    border: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #fff;
    font-size: 16px;
}

.tab-btn:hover {
    background-color: #29b93d;
}

.active-tab {
    background-color: #29b93d;
}

.inner-content {
    display: none;
}

.active {
    display: flex;
}

.container {
    width: 100%;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 70px;
}

.inner-content {
    padding: 50px;
}

.inner-content img {
    display: block;
    width: 20%;
    margin: 0 auto;
    margin-bottom: 70px;
}

.product-price {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 2px solid rgb(221, 221, 221);
}

.price {
    display: flex;
}

.price-word {
    padding-right: 10px;
}

.price-value {
    color: grey;
}

.quantity-inner input {
    width: 25px;
    justify-content: center;
    border: none;
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(161, 161, 161, 0.4);
    text-align: center;
    font-size: 16px;
}

.quantity-inner button {
    color: grey;
    background-color: #fff;
    border: none;
    font-size: 20px;
    vertical-align: middle;
}

.product-sum {
    display: flex;
}

label {
    font-size: 20px;
    color: grey;
    display: flex;
    margin-bottom: 7px;
}

form input {
    width: 100%;
    line-height: 2;
    font-size: 14px;
    border: none;
    border-bottom: 2px solid grey;
    margin-bottom: 20px;
}

.info-container {
    display: flex;
}

.product-info {
    width: 50%;
    border-right: 2px solid grey;
}

.product-info img {
    width: 35%;
    display: block;
}

.product-info div {
    display: flex;
    font-size: 16px;
    margin-bottom: 15px;
}

.product-info div p:first-child {
    padding-right: 15px;
}

.product-info div p:last-child {
    color: grey;
}

#amount {
    color: grey;
}

.contact-info {
    width: 50%;
    padding-left: 20px;
}

.contact-info div {
    font-size: 16px;
    margin-bottom: 15px;
    display: flex;
}

.contact-info div p:first-child {
    padding-right: 15px;
}

.contact-info div p:last-child {
    color: grey;
}

#info-name::first-letter {
    text-transform: capitalize;
}

#info-surname::first-letter {
    text-transform: capitalize;
}